<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="cn" connectionString="Data Source=YADIEL;Initial Catalog=InventarioDB;User ID=sa;Password=SQL131312;TrustServerCertificate=True" />
  <add name="Capa.Presentacion.Properties.Settings.InventarioDBConnectionString"
   connectionString="Data Source=YADIEL;Initial Catalog=InventarioDB;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>

</configuration>



	
